.completa{
	/*background-color: lightgreen !important;*/
	/*background-color: rgb(0 128 0 / 50%) !important;*/
	color: rgb(0 128 0 / 50%) !important;
	font-weight: bold;
}

.vencida{
	/*background-color: orangered !important;*/
	/*background-color: rgb(255 0 0 / 50%) !important;*/
	color: rgb(255 0 0 / 50%) !important;
	font-weight: bold;
}

.porVencer{
	/*background-color: rgb(255 255 0 / 50%) !important;*/
	color: rgb(255 255 0 / 50%) !important;
	font-weight: bold;
}

.badge-info{
	/*background-color: dodgerblue !important;*/
	background-color: royalblue !important;
}