html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset,
form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {margin:0; padding:0; border:0; outline:0; vertical-align:baseline; box-sizing: border-box;}
header, nav, article, footer, address { display: block;}
html, body {-webkit-text-size-adjust:100%;-webkit-font-smoothing: antialiased;}
body, button, input, select, textarea { font-family: "Open Sans", Arial, Helvetica, sans-serif;}

ol, ul {list-style:none;}
blockquote, q {quotes:none;}
blockquote:before, blockquote:after, q:before, q:after { content:''; content:none;}
:focus {outline:0;}

/**generales**/
body {
	color: white;
	font-size: 16px;
	background-color: #1b386f;
	font-weight: 300;
}

section {
	padding: 100px 0;
}

.width_wrap {
    width: 960px;
    max-width: 90%;
    margin: 0 auto;
}

.sprite {
	background-image: url("../img/sprite.png");
} 

/**menu-sup**/
.menu-sup {
	padding: 20px 0;
	background: rgb(21,44,87); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(21,44,87,1) 0%, rgba(25,52,103,1) 100%);
	background: -webkit-linear-gradient(top, rgba(21,44,87,1) 0%,rgba(25,52,103,1) 100%);
	background: linear-gradient(to bottom, rgba(21,44,87,1) 0%,rgba(25,52,103,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#152c57', endColorstr='#193467',GradientType=0 );
}

.menu-sup .logo {
    width: 200px;
    height: 55px;
    background-position: -5px 0;
}

/**header**/
header {
    text-align: left;
    display: block;
    padding: 50px 0 0 0;
}

header h2 {
	font-size: 50px;
    font-weight: 300;
    line-height: 1.1;
}

header h1{
    font-size: 30px;
    line-height: 1.1;
    font-weight: 300;
	margin: 5px 0 30px 0;
}

header .width_wrap, section.bloques .width_wrap {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;

	align-items: center;
	-webkit-align-items: center;
	-ms-flex-align: center;

	justify-content: space-around;
	-webkit-justify-content: space-around;
	-ms-flex-pack: justify;

	flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
}

header .img {
	width: 440px;
	max-width: 95%;
}

header .img img {
	width: 100%;
	height: auto;
}

header .bloque-texto {
	box-sizing: border-box;
}

/**section.bloques**/

section.bloques {
	padding-top: 0;
	margin-top: -42px;
}

section.bloques .item {
    width: 300px;
    max-width: 100%;
    padding: 25px 15px;
    background-color: #0164aa;
    border-bottom: 10px solid #b3d1e6;
    border-radius: 4px;
    margin: 20px 10px;

	-webkit-box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.4);
	-moz-box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.4);
	box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.4);
}

section.bloques .auto {
	width: 75px;
    height: 75px;
    background-position: -10px 83px;
    margin: 0 auto 20px;
}
section.bloques .ftp {
	width: 75px;
    height: 75px;
    background-position: -115px 83px;
    margin: 0 auto 20px;
}
section.bloques .panel {
	width: 75px;
    height: 75px;
    background-position: -222px 83px;
    margin: 0 auto 20px;
}

section.bloques .item p {
	font-size: 14px;
}

section.bloques .item a {
	color: white;
	text-decoration: none;
	font-style: italic;
	font-weight: 400;
}

/** footer.pie **/

footer {
	padding: 0 0 30px 0;
	text-align: center;
}

footer .copyright {
	color: #0d6eb3;
	font-size: 13px;
	margin-top: 40px;
}

footer h3 {
	font-size: 16px;
    font-weight: 300;
    margin-bottom: 20px;
}

footer p {
	font-size: 14px;
}

footer a:link, footer a:active, footer a:visited {
	color: white;
	font-size: 14px;
	text-decoration: none;
}


/*******************/

@media (max-width: 550px) {
	header h2 {
		font-size: 35px;
	}

	header h1{
	    font-size: 20px;
	}

}